body {
  background: linear-gradient(
    90deg,
    rgba(153, 191, 193, 1) 21%,
    rgba(122, 118, 198, 1) 51%,
    rgba(191, 96, 210, 1) 85%
  );
}

html {
  background-color: rgb(44, 43, 43);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


